.navItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

.centerimage{
    width: 100%;
    height: 100%;
}

$sidebar-color: #bbbbbb !default;
$sidebar-bg-color: #132038;
$highlight-color: #FFFFFF !default;
$sidebar-width: 100% !default;


@import '~react-pro-sidebar/dist/scss/styles.scss';